/* _content/Poker.Components/Board/BoardComponent.razor.rz.scp.css */
:root[b-zanbref5k4] {}
body[b-zanbref5k4] {}

#board[b-zanbref5k4] {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    height: 500px;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.5vw;
    margin: 5px;
}

.flop[b-zanbref5k4] {
    background-color: purple;
}

.turn[b-zanbref5k4] {
    background-color: aqua;
}

.river[b-zanbref5k4] {
    background-color: orangered;
}
/* _content/Poker.Components/Board1.razor.rz.scp.css */
/* ----- */
/* Board */
/* ----- */

.card[b-3g766cvjux] {
    width: 30px;
}

.flag_svg[b-3g766cvjux] {
    width: 30px;
}

.board_1[b-3g766cvjux] {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.table_1[b-3g766cvjux] {
    background-color: lightgray;
    border-top: 2px solid darkred;
    height: 15px;
    width: 100%;
    border-radius: 2px;
}

.cards[b-3g766cvjux] {
    display: flex;
    /*flex-wrap: nowrap;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
}

/* https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
.break[b-3g766cvjux] {
    flex-basis: 100%;
    height: 0;
}
/* _content/Poker.Components/Board2.razor.rz.scp.css */
.container[b-23sdmc6eel] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "F1 F2 F3 T R"
        "Flop Flop Flop Turn River";
    width: 100px;
    color: red;
}

.F1[b-23sdmc6eel] {
    grid-area: F1;
    text-align: center;
}

.F2[b-23sdmc6eel] {
    grid-area: F2;
    text-align: center;
}

.F3[b-23sdmc6eel] {
    grid-area: F3;
    text-align: center;
}

.Flop[b-23sdmc6eel] {
    grid-area: Flop;
}

.T[b-23sdmc6eel] {
    grid-area: T;
    text-align: center;
}

.R[b-23sdmc6eel] {
    grid-area: R;
    text-align: center;
}

.Turn[b-23sdmc6eel] {
    grid-area: Turn;
}

.River[b-23sdmc6eel] {
    grid-area: River;
}

.info[b-23sdmc6eel] {
    color: white;
    background-color: black;
    border-radius: 2px;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
}
/* _content/Poker.Components/Board3.razor.rz.scp.css */
.container[b-xtn1t6xiuq] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "F1 F2 F3 T R"
        "Flop Flop Flop Turn River";
    width: 100px;
    color: red;
}

.F1[b-xtn1t6xiuq] {
    grid-area: F1;
    text-align: center;
}

.F2[b-xtn1t6xiuq] {
    grid-area: F2;
    text-align: center;
}

.F3[b-xtn1t6xiuq] {
    grid-area: F3;
    text-align: center;
}

.Flop[b-xtn1t6xiuq] {
    grid-area: Flop;
}

.T[b-xtn1t6xiuq] {
    grid-area: T;
    text-align: center;
}

.R[b-xtn1t6xiuq] {
    grid-area: R;
    text-align: center;
}

.Turn[b-xtn1t6xiuq] {
    grid-area: Turn;
}

.River[b-xtn1t6xiuq] {
    grid-area: River;
}

.info[b-xtn1t6xiuq] {
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 2px;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
}
/* _content/Poker.Components/Board4.razor.rz.scp.css */
.container[b-radjepzog0] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "F1 F2 F3 T R";

    padding: 5px 5px 0px 5px;
    /*margin: 10px 10px 0px 10px;*/
}

.F1[b-radjepzog0] {
    grid-area: F1;
    text-align: center;
}

.F2[b-radjepzog0] {
    grid-area: F2;
    text-align: center;
}

.F3[b-radjepzog0] {
    grid-area: F3;
    text-align: center;
}

.T[b-radjepzog0] {
    grid-area: T;
    text-align: center;
}

.R[b-radjepzog0] {
    grid-area: R;
    text-align: center;
}
/* _content/Poker.Components/Camera/CameraComponent.razor.rz.scp.css */
body[b-gy58f4enku] {
}
/* _content/Poker.Components/Cards/CardComponent.razor.rz.scp.css */
body[b-x2gkpeg81q] {
}
/* _content/Poker.Components/Cards/CardsComponent.razor.rz.scp.css */
body[b-q0ikyhj9vc] {
}
/* _content/Poker.Components/LoadScenario.razor.rz.scp.css */
/* 🃏 Texas holdem Rank Card Evaluator */
/* https://github.com/danielpaz6/Poker-Hand-Evaluator/tree/master/PokerHandEvaluator */



.table-cards[b-pnztxlpxm0] {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 45%;
    left: 49.5%;
    box-sizing: border-box;
    width: 225px;
    height: 30px;
}


    .table-cards img[b-pnztxlpxm0], .player img[b-pnztxlpxm0] {
        display: inline-block;
        margin-right: -10px;
        opacity: 0.8;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

        .table-cards img:hover[b-pnztxlpxm0], .player img:hover[b-pnztxlpxm0] {
            opacity: 1;
        }

.player[b-pnztxlpxm0] {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    border: 1px solid #fff;
    width: 130px;
    height: 130px;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
}

.table-text[b-pnztxlpxm0] {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 20%;
}

    .table-text h2[b-pnztxlpxm0] {
        font-size: 16px;
        color: #6b6b6b;
    }

.details[b-pnztxlpxm0] {
    font-size: 10px;
    line-height: 1.6em;
    margin-top: 7px;
    /*display: none;*/
}

.active .player[b-pnztxlpxm0] {
    border-color: #efefef;
    height: 130px;
}

.active .first[b-pnztxlpxm0] {
    border-color: green;
    transition: border-color 0.4s linear 0.3s;
}

.active .player .details[b-pnztxlpxm0] {
    display: block;
}

/*
.player:hover {
    border-color: #efefef;
    height: 130px;
}
*/

.player1[b-pnztxlpxm0] {
    /*top: 20%;*/
    /*left: 0%;*/
}

.player2[b-pnztxlpxm0] {
    /*top: 20%;*/
    left: 100%;
}

.player3[b-pnztxlpxm0] {
    top: 80%;
    left: 100%;
}

.player4[b-pnztxlpxm0] {
    left: 50%;
    top: 100%;
}

.player5[b-pnztxlpxm0] {
    top: 80%;
    /*left: 0%;*/
}

.right-panel[b-pnztxlpxm0] {
    position: fixed;
    top: 25px;
    right: 30px;
    width: 30px;
}

    .right-panel img[b-pnztxlpxm0] {
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        transition: all 0.5s;
    }

    .right-panel a:hover img[b-pnztxlpxm0] {
        opacity: 1;
    }

    .right-panel .tooltip[b-pnztxlpxm0] {
        left: -5px !important;
    }

.left-panel[b-pnztxlpxm0] {
    position: fixed;
    left: 10px;
    top: 10px;
}

    .left-panel img[b-pnztxlpxm0] {
        width: 50px;
        height: 50px;
        opacity: 0.5;
    }

    .left-panel a:hover img[b-pnztxlpxm0] {
        opacity: 1;
    }
/* _content/Poker.Components/Player1.razor.rz.scp.css */
/* ----- ----- */
/*  Player 1   */
/* ----- ----- */

.player_1[b-72g1rq78ig] {
    width: 200px;
}

.container[b-72g1rq78ig] {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 0.9fr 2fr;
    grid-template-rows: 0.6fr 0.2fr 0.2fr;
    gap: 0px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "Player-Picture Card-1 Card-2 Pot-Odds Empty_2"
        "Player-Picture Name Name Unknown Info"
        "Flag Move Move Chips Info";
    /*align-items: center;*/
    justify-content: center;
    width: fit-content;
    /*margin: auto;*/
}

/* ----- */
/* Grid  */
/* ----- */

.Player-Picture[b-72g1rq78ig] {
    grid-area: Player-Picture;
    width: 50px;
    align-content: center;
}

    .Player-Picture > img[b-72g1rq78ig] {
        width: 100px;
        /*margin: auto;*/
        margin-left: -25px;
    }

.Flag[b-72g1rq78ig] {
    grid-area: Flag;
}

    .Flag > img[b-72g1rq78ig] {
        /*margin: auto;*/
        /*width: fit-content;*/
        margin-left: 5px;
    }

.Card-1[b-72g1rq78ig] {
    grid-area: Card-1;
}

.Card-2[b-72g1rq78ig] {
    grid-area: Card-2;
}

.Pot-Odds[b-72g1rq78ig] {
    grid-area: Pot-Odds;
    width: fit-content;
    margin: auto;
    background-color: #191c3b;
    color: white;
    font-weight: bold;
}

.Name[b-72g1rq78ig] {
    grid-area: Name;
    color: black;
    background-color: #bcbcbc;
    font-weight: bold;
    text-transform: uppercase;
}

.Move[b-72g1rq78ig] {
    grid-area: Move;
    background-color: #191c3b;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.Unknown[b-72g1rq78ig] {
    grid-area: Unknown;
    text-align: center;
    text-transform: uppercase;
    background-color: #bcbcbc;
    font-weight: bold;
}

.Chips[b-72g1rq78ig] {
    grid-area: Chips;
    color: white;
    font-weight: bold;
    background-color: #464c5c;
    padding: 1px;
}

.Info[b-72g1rq78ig] {
    grid-area: Info;
    text-align: center;
    text-transform: uppercase;
    color: red;
    /*width: fit-content;*/
    /*margin: auto;*/
    font-weight: bold;
    background-color: #191c3b;
}

.Empty_2[b-72g1rq78ig] {
    grid-area: Empty_2;
}

/* ----- */
/* Other */
/* ----- */

.card[b-72g1rq78ig] {
    width: 40px;
}

/* ----- ----- ----- ----- */

/* For presentation only, no need to copy the code below */

/*.container * {
    border: 1px solid red;
    position: relative;
}*/

/*.container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}*/
/* _content/Poker.Components/Player2.razor.rz.scp.css */
.container[b-dgl5abfi54] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". Card-1 Card-2 . ."
        ". Card-1 Card-2 . ."
        "Name Name Name Name Pot-Odds"
        "Bet Bet Bet Bet .";
}

.Card-1[b-dgl5abfi54] {
    grid-area: Card-1;
    margin: auto;
}

.Card-2[b-dgl5abfi54] {
    grid-area: Card-2;
    margin: auto;
}

.Name[b-dgl5abfi54] {
    grid-area: Name;
    color: white;
    background-color: darkred;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.Bet[b-dgl5abfi54] {
    grid-area: Bet;
    /*   margin: auto; */

    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    text-transform: uppercase;
}

.Pot-Odds[b-dgl5abfi54] {
    grid-area: Pot-Odds;
    /*   margin: auto; */

    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    text-transform: uppercase;
}
/* _content/Poker.Components/Player3.razor.rz.scp.css */
.container[b-8hf7njet1q] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". Card-1 Card-2 . ."
        ". Card-1 Card-2 . ."
        "Name Name Name Name Bet"
}

.Card-1[b-8hf7njet1q] {
    grid-area: Card-1;
    margin: auto;
}

.Card-2[b-8hf7njet1q] {
    grid-area: Card-2;
    margin: auto;
}

.Name[b-8hf7njet1q] {
    grid-area: Name;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.Bet[b-8hf7njet1q] {
    grid-area: Bet;
    /*   margin: auto; */

    color: black;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    text-transform: uppercase;
}
/* _content/Poker.Components/Player4.razor.rz.scp.css */
/* ----- ----- */
/*  Player 4   */
/* ----- ----- */

.player_4[b-je3s38chnx] {
    width: 200px;
    background-color: darkolivegreen;
}

.container[b-je3s38chnx] {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.7fr 0.5fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ProfilePic Card1 Card2 PotOdds"
        "ProfilePic Name Name Name"
        "ProfilePic Bet Bet Bet";
    justify-content: center;
    width: fit-content;
}

.ProfilePic[b-je3s38chnx] {
    grid-area: ProfilePic;
    width: 50px;
    align-content: center;
}

.Card1[b-je3s38chnx] {
    grid-area: Card1;
}

.Card2[b-je3s38chnx] {
    grid-area: Card2;
}

.PotOdds[b-je3s38chnx] {
    grid-area: PotOdds;
    width: fit-content;
    margin: auto;
    background-color: #191c3b;
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}

.Name[b-je3s38chnx] {
    grid-area: Name;
    color: black;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    text-align: left;
    font-size: 30px;
}

.Bet[b-je3s38chnx] {
    grid-area: Bet;
    color: white;
    background-color: black;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    text-align: left;
    font-size: 20px;
}
/* _content/Poker.Components/PlayerComponent/PlayerComponent.razor.rz.scp.css */
body[b-dad1p57yrf] {
}

.player[b-dad1p57yrf] {
    background-color: yellow;
}

.name[b-dad1p57yrf] {
    background-color: darkred;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.camera[b-dad1p57yrf] {
    background-color: blue;
}

.cards[b-dad1p57yrf] {
    background-color: green;
}

.stats[b-dad1p57yrf] {
    background-color: red;
}

/* _content/Poker.Components/Pot1.razor.rz.scp.css */
.pot_1[b-r2s2gsq13w] {
    font-weight: bold;
}

.pot[b-r2s2gsq13w] {
    text-align: right;
    font-weight: bold;
    /*font-feature-settings: "dgsp";*/
}

.pot_1 > span[b-r2s2gsq13w] {
    background-image: linear-gradient(to right, darkgrey, grey);
    width: 100px;
    display: inline-block;
    padding: 1px;
}
/* _content/Poker.Components/Pot2.razor.rz.scp.css */
.pot_2[b-bs7wgb7iyo] {
    font-weight: bold;
    text-align: center;
}

.pot[b-bs7wgb7iyo] {
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
}

.pot_2 > span[b-bs7wgb7iyo] {
    color: black;
    background-color: white;
}
/* _content/Poker.Components/Pot3.razor.rz.scp.css */
.pot_3[b-b3cz5bi2v4] {
    font-weight: bold;
    text-align: center;
}

.pot[b-b3cz5bi2v4] {
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid white;
}

.pot_3 > span[b-b3cz5bi2v4] {
    color: black;
    background-color: white;
}
/* _content/Poker.Components/Pot4.razor.rz.scp.css */
.pot_4[b-kkd6oiy9id] {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;

    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    padding: 0px 10px;
    /*height: 50px;*/
    /*line-height: 50px;*/
}

span:last-of-type[b-kkd6oiy9id] {
    flex: 1;
}

/*.pot_4 > span {
    margin: auto;
}*/

.pot[b-kkd6oiy9id] {
    color: white;
    font-size: 30px;
    text-align: right;
}

/*span {
    display: table;
    margin: 0 auto;
}*/
/* _content/Poker.Components/Stats/StatsComponent.razor.rz.scp.css */
:root[b-8phh825qmg] {
    background-color: black;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.pot-odds[b-8phh825qmg] {
    float: right;
}

.bet[b-8phh825qmg] {
    float: left;

    background-color: black;
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
