<h3>CardsComponent</h3>

<div class="row">
    <div class="col-6">
        <CardComponent></CardComponent>
    </div>
    <div class="col-6">
        <CardComponent></CardComponent>
    </div>
</div>

@code {

}
