@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.bundle.scp.css';
@import '_content/Poker.Components/Poker.Components.bundle.scp.css';

/* /Components/Board/BoardComponent.razor.rz.scp.css */
:root[b-8qgvlhffre] {}
body[b-8qgvlhffre] {}

#board[b-8qgvlhffre] {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    height: 500px;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.5vw;
    margin: 5px;
}

.flop[b-8qgvlhffre] {
    background-color: purple;
}

.turn[b-8qgvlhffre] {
    background-color: aqua;
}

.river[b-8qgvlhffre] {
    background-color: orangered;
}
/* /Components/Camera/CameraComponent.razor.rz.scp.css */
body[b-8vucsac124] {
}
/* /Components/Cards/CardComponent.razor.rz.scp.css */
body[b-o93yddtxav] {
}
/* /Components/Cards/CardsComponent.razor.rz.scp.css */
body[b-0j41e45e7w] {
}
/* /Components/LoadScenario.razor.rz.scp.css */
/* 🃏 Texas holdem Rank Card Evaluator */
/* https://github.com/danielpaz6/Poker-Hand-Evaluator/tree/master/PokerHandEvaluator */



.table-cards[b-qf5ombl3df] {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 45%;
    left: 49.5%;
    box-sizing: border-box;
    width: 225px;
    height: 30px;
}


    .table-cards img[b-qf5ombl3df], .player img[b-qf5ombl3df] {
        display: inline-block;
        margin-right: -10px;
        opacity: 0.8;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

        .table-cards img:hover[b-qf5ombl3df], .player img:hover[b-qf5ombl3df] {
            opacity: 1;
        }

.player[b-qf5ombl3df] {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    border: 1px solid #fff;
    width: 130px;
    height: 130px;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s;
}

.table-text[b-qf5ombl3df] {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 20%;
}

    .table-text h2[b-qf5ombl3df] {
        font-size: 16px;
        color: #6b6b6b;
    }

.details[b-qf5ombl3df] {
    font-size: 10px;
    line-height: 1.6em;
    margin-top: 7px;
    /*display: none;*/
}

.active .player[b-qf5ombl3df] {
    border-color: #efefef;
    height: 130px;
}

.active .first[b-qf5ombl3df] {
    border-color: green;
    transition: border-color 0.4s linear 0.3s;
}

.active .player .details[b-qf5ombl3df] {
    display: block;
}

/*
.player:hover {
    border-color: #efefef;
    height: 130px;
}
*/

.player1[b-qf5ombl3df] {
    /*top: 20%;*/
    /*left: 0%;*/
}

.player2[b-qf5ombl3df] {
    /*top: 20%;*/
    left: 100%;
}

.player3[b-qf5ombl3df] {
    top: 80%;
    left: 100%;
}

.player4[b-qf5ombl3df] {
    left: 50%;
    top: 100%;
}

.player5[b-qf5ombl3df] {
    top: 80%;
    /*left: 0%;*/
}

.right-panel[b-qf5ombl3df] {
    position: fixed;
    top: 25px;
    right: 30px;
    width: 30px;
}

    .right-panel img[b-qf5ombl3df] {
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        transition: all 0.5s;
    }

    .right-panel a:hover img[b-qf5ombl3df] {
        opacity: 1;
    }

    .right-panel .tooltip[b-qf5ombl3df] {
        left: -5px !important;
    }

.left-panel[b-qf5ombl3df] {
    position: fixed;
    left: 10px;
    top: 10px;
}

    .left-panel img[b-qf5ombl3df] {
        width: 50px;
        height: 50px;
        opacity: 0.5;
    }

    .left-panel a:hover img[b-qf5ombl3df] {
        opacity: 1;
    }
/* /Components/Player/PlayerComponent.razor.rz.scp.css */
body[b-jwdaywoqf8] {
}

.player[b-jwdaywoqf8] {
    background-color: yellow;
}

.name[b-jwdaywoqf8] {
    background-color: darkred;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.camera[b-jwdaywoqf8] {
    background-color: blue;
}

.cards[b-jwdaywoqf8] {
    background-color: green;
}

.stats[b-jwdaywoqf8] {
    background-color: red;
}

/* /Components/Stats/StatsComponent.razor.rz.scp.css */
:root[b-ut1wfkv50u] {
    background-color: black;
    color: white;
    border: 2px white solid;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.pot-odds[b-ut1wfkv50u] {
    float: right;
}

.bet[b-ut1wfkv50u] {
    float: left;

    background-color: black;
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
/* /Pages/Components.razor.rz.scp.css */
/* /Pages/Hud.razor.rz.scp.css */
/* ----- */
/*  HUD  */
/* ----- */

.card[b-lrwnf4i3vv] {
    width: 50px;
}

/* ----- ----- ----- ----- */

/* https://github.com/cardmeister/cardmeister.github.io?tab=readme-ov-file#styling-card-t-with-css */

/*[rank="queen"] img {
    border: 3px solid greenyellow;
    transform: rotate(15deg);
}

img[is*="queen"] {
    border: 3px solid greenyellow;
    transform: rotate(15deg);
}

[rank="ace"] img {*/
    /*height: 20px;*/
    /*width: 20px;
}*/
/* /Pages/Index.razor.rz.scp.css */
body[b-agzntvclyi] {
}
/* /Pages/Night.razor.rz.scp.css */
body[b-4n1e0g4aak] {
}
/* /Pages/PlayingCards.razor.rz.scp.css */
/* ----- ----- ----- */
/*   Playing Cards   */
/* ----- ----- -----*/

.card[b-ggzvyej0t0] {
    width: 50px;
}
/* /Pages/PokerHandEvaluator.razor.rz.scp.css */
#phe[b-xupnb9r6kn] {
    width: 500px;
}

.table_phe[b-xupnb9r6kn] {
    width: 600px;
    height: 300px;
    border: 2px solid #737373;
    box-shadow: inset 0px 0px 0px 4px #f1f1f1;
    margin: auto;
    margin-top: 20%;
    margin-left: 10%;
    border-radius: 20px;
    position: relative;
}

.table-title[b-xupnb9r6kn] {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: -15%;
    left: 50%;
}

    .table-title h1[b-xupnb9r6kn] {
        font-size: 30px;
    }

#shuffle-cards[b-xupnb9r6kn] {
    display: none;
}
/* /Pages/PokerOddsPro.razor.rz.scp.css */
/* /Pages/Screen.razor.rz.scp.css */
#poker-table[b-80y9rheyca] {
    margin: 20px;
    padding: 20px;
    background-color: #505620;
}

.brand[b-80y9rheyca] {
    font-family: 'Rye', Helvetica, Arial, sans-serif;
    font-size: 70px;
    color: yellow;
    text-align: center;
}
/* /Pages/WIP.razor.rz.scp.css */
.example[b-fcklwh9yny] {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 400px;
    width: 1000px;
}

.box1[b-fcklwh9yny] {
    height: 100px;
    width: 100px;
    background-color: beige;
}

.box2[b-fcklwh9yny] {
    height: 100px;
    width: 100px;
    background-color: pink;
}

.box3[b-fcklwh9yny] {
    height: 300px;
    width: 100px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
}

.boxa1[b-fcklwh9yny] {
    height: 100px;
    width: 100px;
    background-color: rgb(192, 255, 239);
}

.boxa2[b-fcklwh9yny] {
    height: 100px;
    width: 100px;
    background-color: rgb(26, 123, 99);
}

/*.example {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 400px;
    width: 1000px;

    .box1 {
        height: 100px;
        width: 100px;
        background-color: beige;
    }

    .box2 {
        height: 100px;
        width: 100px;
        background-color: pink;
    }

    .box3 {
        height: 200px;
        width: 100px;
        background-color: red;
        display: flex;
        flex-direction: column;

        .boxa1 {
            height: 200px;
            width: 100px;
            background-color: rgb(192, 255, 239);
        }

        .boxa2 {
            height: 200px;
            width: 100px;
            background-color: rgb(26, 123, 99);
        }

    }
}*/
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-0l5qxp3lcy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0l5qxp3lcy] {
    flex: 1;
}

.sidebar[b-0l5qxp3lcy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-0l5qxp3lcy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0l5qxp3lcy]  a, .top-row[b-0l5qxp3lcy]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-0l5qxp3lcy]  a:hover, .top-row[b-0l5qxp3lcy]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-0l5qxp3lcy]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0l5qxp3lcy] {
        display: none;
    }

    .top-row.auth[b-0l5qxp3lcy] {
        justify-content: space-between;
    }

    .top-row[b-0l5qxp3lcy]  a, .top-row[b-0l5qxp3lcy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0l5qxp3lcy] {
        flex-direction: row;
    }

    .sidebar[b-0l5qxp3lcy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0l5qxp3lcy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-0l5qxp3lcy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-0l5qxp3lcy], article[b-0l5qxp3lcy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-uaxz84ev0d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-uaxz84ev0d] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-uaxz84ev0d] {
    font-size: 1.1rem;
}

.oi[b-uaxz84ev0d] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-uaxz84ev0d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-uaxz84ev0d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-uaxz84ev0d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-uaxz84ev0d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-uaxz84ev0d]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-uaxz84ev0d]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-uaxz84ev0d] {
        display: none;
    }

    .collapse[b-uaxz84ev0d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-uaxz84ev0d] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
