<h3>BoardComponent</h3>

<p>C1 | C2 | C3 | C4 | C5</p>

<div id="board">
    @* <span class="flop"> *@
        <card-t rank=0 backtext=" "></card-t>
        <card-t rank=0 backtext=" "></card-t>
        <card-t rank=0 backtext=" "></card-t>
    @* </span> *@
    @* <span class="turn"> *@
        <card-t rank=0 backtext=" "></card-t>
    @* </span> *@
    @* <span class="river"> *@
        <card-t rank=0 backtext=" "></card-t>
    @* </span> *@
</div>

@code {

}
