.pot {
    background-color: white;
    font-size: large;
    font-weight: bold;
}

.small-blind {
    background-color: blue;
    color: white;
}

.big-blind {
    background-color: yellow;
}

.ante {
    background-color: lightgray;
}