@page "/"
@using Poker.WebApp.Components.Player;
@using Poker.WebApp.Components.Board;

<PageTitle>Index</PageTitle>

<h1>Poker ♣♦♥♠</h1>

<p><PlayerComponent></PlayerComponent> | <PlayerComponent></PlayerComponent></p>
<p><BoardComponent></BoardComponent></p>
<p><PlayerComponent></PlayerComponent> | <PlayerComponent></PlayerComponent></p>
