@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col">
        <h1>Poker ♣♦♥♠</h1>
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <img src="images/logo.png" alt="Logo" width="200" />
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <ul>
            <li><a href="components">Components</a></li>
            <li><a href="hud">HUD</a></li>
            <li><a href="playingcards">Playing Cards</a></li>
        </ul>
    </div>
</div>