.player {
    border: 2px solid #505620;
    padding: 10px;
}

.first {
    border: 2px solid green;
    /*border-color: green;*/
    border-radius: 10px;
    transition: border-color 0.4s linear 0.3s;
}

.hole-cards {
    background-color: white;
    padding: 10px;
}