.main-container {
    overflow: initial;
    width: auto;
    display: flex;
    margin: 15px 10px 10px 10px;
    background-color: rgba(247,247,247,0.8);
    border-style: solid;
    border-color: #a2a2a2;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.odds-container {
    flex: 5 1 auto;
    flex-direction: column;
    min-width: 60px;
}

.widget-container {
    max-width: 60px;
    min-width: 30px;
}

.flex-item-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperator {
    border-right: 1px solid rgba(198, 198, 198, 0.75);
}

.player-number {
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    display: table;
    margin: 0 auto
}

.odds-box {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: #e0e0e0 1px 1px 0;
}

.odds-box-stacked {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-shadow: #e0e0e0 1px 1px 0;
    display: block;
    float: left;
}

@media only screen and (max-width: 440px) {
    .odds-box-stacked {
        font-size: 13px;
    }
}


@media only screen and (max-width:390px) {
    .odds-box-stacked {
        font-size: 11px;
    }
}

.fade-in {
    animation: fadeIn ease @FadeInTime;
    -webkit-animation: fadeIn ease @FadeInTime;
    -moz-animation: fadeIn ease @FadeInTime;
    -o-animation: fadeIn ease @FadeInTime;
    -ms-animation: fadeIn ease @FadeInTime;
}
