@using Poker.Components.Camera;
@using Poker.Components.Cards;
@using Poker.Components.Stats;

<h3>PlayerComponent</h3>

<div>
    <div class="player">
        <div class="camera">
            <CameraComponent></CameraComponent>
        </div>
        <img src="images/AlexHedley.jpeg" alt="Player 1" />
        <p class="name">Alex Hedley</p>
        <div class="stats">
            <StatsComponent></StatsComponent>
        </div>
    </div>

    <div class="cards">
        <CardsComponent></CardsComponent>
    </div>
    
</div>

@code {

}
