<p class="pot">Pot: @Game.Board.Pot</p>
<hr />
<p class="small-blind">Small Blind: @Game.Board.SmallBlind</p>
<p class="big-blind">Big Blind: @Game.Board.BigBlind</p>
<p class="ante">Ante: @Game.Board.Ante</p>