@using Poker.WebApp.Components.Camera;
@using Poker.WebApp.Components.Cards;
@using Poker.WebApp.Components.Stats;

<h3>PlayerComponent</h3>

<CameraComponent></CameraComponent>
<CardsComponent></CardsComponent>
<StatsComponent></StatsComponent>

@code {

}
