@page "/components"

@using Poker.Components.Legacy.PlayerComponent;
@using Poker.Components.Legacy.Board;

<PageTitle>Components</PageTitle>

<h3>Components</h3>

<div class="row">
    <div class="col-md-4">
        <PlayerComponent></PlayerComponent>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <PlayerComponent></PlayerComponent>
    </div>
</div>
<div class="row">
    <div class="col">
        <BoardComponent></BoardComponent>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <PlayerComponent></PlayerComponent>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <PlayerComponent></PlayerComponent>
    </div>
</div>


@code {

}
