@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col">
        <h1>Poker ♣♦♥♠</h1>
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <p><img src="_content/Poker.Shared/images/logo.png" alt="Logo" width="200" /></p>
        <p>Welcome to the Poker Recording site. It's a full setup for recording a home poker game.</p>
        <p>This combines some IoT devices to scan RFID stickers on a pack of cards and send them to an API.</p>
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <ul>
            <li><a href="screen">Screen</a></li>
            <li><a href="demo">Demo</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul>
            <li><a href="night">Poker Night</a></li>
            <li><a href="rankofhands">Rank Of Hands</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul>
            <li><a href="components">Components</a></li>
            <li><a href="hud">HUD</a></li>
            <li><a href="playingcards">Playing Cards</a></li>
            <li><a href="wip">WIP</a></li>
            
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <ul>
            <li><a href="phe">Poker Hand Evaluator</a></li>
            <li><a href="pop">PokerOddsPro</a></li>
        </ul>
    </div>
</div>