@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col">
        <h1>Poker ♣♦♥♠</h1>
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <img src="_content/Poker.Shared/images/logo.png" alt="Logo" width="200" />
    </div>
</div>

<br />

<div class="row">
    <div class="col">
        <ul>
            <li><a href="night">Poker Night</a></li>
            <li><a href="rankofhands">Rank Of Hands</a></li>
            <li><a href="screen">Screen</a></li>
            <li><a href="components">Components</a></li>
            <li><a href="hud">HUD</a></li>
            <li><a href="playingcards">Playing Cards</a></li>
            <li><a href="wip">WIP</a></li>
            <li><a href="phe">Poker Hand Evaluator</a></li>
            <li><a href="pop">PokerOddsPro</a></li>
        </ul>
    </div>
</div>