@page "/playingcards"

<PageTitle>Playing Cards</PageTitle>

<h3>Playing Cards</h3>

<h4>1</h4>

<img src="_content/Poker.Components/images/cards/10-club.png" alt="10 Clubs (♣)" class="card" />

<h4>2</h4>

<img src="_content/Poker.Components/images/playingcards_2/k10.png" alt="10 Clubs (♣)" class="card" />

<h4>3</h4>

<img src="_content/Poker.Components/images/playingcards_3/outlined/10-of-clubs-50.png" alt="10 Clubs (♣)" class="card" />
<img src="_content/Poker.Components/images/playingcards_3/filled/10-of-clubs-50.png" alt="10 Clubs (♣)" class="card" />

<h4>SVG (cardmeister)</h4>

<card-t cid=TC class="card" />

<h4>8 Bit</h4>

<img src="_content/Poker.Components/images/8bit/C10.png" alt="10 Clubs (♣)" class="card" />

<h4>Mini</h4>

<img src="_content/Poker.Components/images/mini/C10.svg" alt="10 Clubs (♣)" class="card" />

@code {

}
