@page "/rankofhands"
<h2>Rank Of Hands</h2>

<h3>Royal Flush</h3>
<p>This hand contains five cards in sequence, all of the same suit</p>

<img src="_content/Poker.Components/images/8bit/H1.png" alt="Ace Of Hearts" />
<img src="_content/Poker.Components/images/8bit/H13.png" alt="King Of Hearts" />
<img src="_content/Poker.Components/images/8bit/H12.png" alt="Queen Of Hearts" />
<img src="_content/Poker.Components/images/8bit/H11.png" alt="Jack Of Hearts" />
<img src="_content/Poker.Components/images/8bit/H10.png" alt="Ten Of Hearts" />

<br />
<br />

<h3>Straight Flush</h3>
<p>This hand contains five cars in sequence, all of the same suit</p>

<img src="_content/Poker.Components/images/8bit/C8.png" alt="Eight Of Clubs" />
<img src="_content/Poker.Components/images/8bit/C7.png" alt="Seven Of Clubs" />
<img src="_content/Poker.Components/images/8bit/C6.png" alt="Six Of Clubs" />
<img src="_content/Poker.Components/images/8bit/C5.png" alt="Five Of Clubs" />
<img src="_content/Poker.Components/images/8bit/C4.png" alt="Four Of Clubs" />

<br />
<br />

<h3>4 of a kind</h3>
<p>This hand contains all four cards of one rank and any other unmatched card</p>

<img src="_content/Poker.Components/images/8bit/D5.png" alt="Five Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/S5.png" alt="Five Of Spades" />
<img src="_content/Poker.Components/images/8bit/H5.png" alt="Five Of Hearts" />
<img src="_content/Poker.Components/images/8bit/C5.png" alt="Five Of Clubs" />
<img src="_content/Poker.Components/images/8bit/H3.png" alt="Three Of Hearts" />

<br />
<br />

<h3>Full House</h3>
<p>This hand contains three matching cards of one rank and two matching cards of another rank</p>

<img src="_content/Poker.Components/images/8bit/H13.png" alt="King Of Hearts" />
<img src="_content/Poker.Components/images/8bit/D13.png" alt="King Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/S13.png" alt="King Of Spades" />
<img src="_content/Poker.Components/images/8bit/H5.png" alt="Five Of Hearts" />
<img src="_content/Poker.Components/images/8bit/C5.png" alt="Five Of Clubs" />

<br />
<br />

<h3>Flush</h3>
<p>This hand contains all five cards are of the same suit, but not in sequence</p>

<img src="_content/Poker.Components/images/8bit/S13.png" alt="King Of Spades" />
<img src="_content/Poker.Components/images/8bit/S11.png" alt="Jack Of Spades" />
<img src="_content/Poker.Components/images/8bit/S9.png" alt="Nine Of Spades" />
<img src="_content/Poker.Components/images/8bit/S7.png" alt="Seven Of Spades" />
<img src="_content/Poker.Components/images/8bit/S3.png" alt="Three Of Spades" />

<br />
<br />

<h3>Straight</h3>
<p>This hand contains five cards of sequential rank in at least two different suits</p>

<img src="_content/Poker.Components/images/8bit/S12.png" alt="Queen Of Spades" />
<img src="_content/Poker.Components/images/8bit/D11.png" alt="Jack Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/C10.png" alt="Ten Of Clubs" />
<img src="_content/Poker.Components/images/8bit/S9.png" alt="Nine Of Spades" />
<img src="_content/Poker.Components/images/8bit/H8.png" alt="Eight Of Hearts" />

<br />
<br />

<h3>3 of a kind</h3>
<p>This hand contains three cards of the same rank, with two cards not of this rank nor the same as each other</p>

<img src="_content/Poker.Components/images/8bit/S12.png" alt="Queen Of Spades" />
<img src="_content/Poker.Components/images/8bit/H12.png" alt="Queen Of Hearts" />
<img src="_content/Poker.Components/images/8bit/D12.png" alt="Queen Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/S5.png" alt="Five Of Spades" />
<img src="_content/Poker.Components/images/8bit/C9.png" alt="Nine Of Clubs" />

<br />
<br />

<h3>2 Pair</h3>
<p>This hand contains two cards of the same rank, plus two cars of another rank</p>

<img src="_content/Poker.Components/images/8bit/H13.png" alt="King Of Hearts" />
<img src="_content/Poker.Components/images/8bit/S13.png" alt="King Of Spades" />
<img src="_content/Poker.Components/images/8bit/C11.png" alt="Jack Of Clubs" />
<img src="_content/Poker.Components/images/8bit/D11.png" alt="Jack Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/D9.png" alt="Nine Of Diamonds" />

<br />
<br />

<h3>1 Pair</h3>
<p>This hand contains two cards of one rank, plus three cards which are not of this rank nor the same</p>

<img src="_content/Poker.Components/images/8bit/C1.png" alt="Ace Of Clubs" />
<img src="_content/Poker.Components/images/8bit/D1.png" alt="Ace Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/H9.png" alt="Nine Of Hearts" />
<img src="_content/Poker.Components/images/8bit/S6.png" alt="Six Of Spades" />
<img src="_content/Poker.Components/images/8bit/D4.png" alt="Four Of Diamonds" />

<br />
<br />

<h3>High Card</h3>
<p>Made of any five cards not meeting any of the above requirements</p>

<img src="_content/Poker.Components/images/8bit/D1.png" alt="Ace Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/H7.png" alt="Seven Of Hearts" />
<img src="_content/Poker.Components/images/8bit/C5.png" alt="Five Of Clubs" />
<img src="_content/Poker.Components/images/8bit/D3.png" alt="Three Of Diamonds" />
<img src="_content/Poker.Components/images/8bit/S2.png" alt="Two Of Spades" />

@code {

}
