@page "/wip"

<PageTitle>WIP</PageTitle>

<h1>WIP</h1>

<div class="example">
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3">
        <div class="boxa1"></div>
        <div class="boxa2"></div>
    </div>
</div>
