<div class="container">
    <div class="F1">
        <img src="https://img.icons8.com/ios/2x/10-of-clubs.png" alt="Flop 1" class="card" />
    </div>
    <div class="F2">
        <img src="https://img.icons8.com/ios/2x/9-of-hearts.png" alt="Flop 2" class="card" />
    </div>
    <div class="F3">
        <img src="https://img.icons8.com/ios/2x/7-of-hearts.png" alt="Flop 3" class="card" />
    </div>
    <div class="Flop info">
        Flop
    </div>
    <div class="T">
        <img src="https://img.icons8.com/ios/2x/2-of-diamonds.png" alt="Turn" class="card" />
    </div>
    <div class="R">
        <img src="https://img.icons8.com/ios/2x/joker.png" alt="River" class="card" />
    </div>
    <div class="Turn info">
        Turn
    </div>
    <div class="River info">
        River
    </div>
</div>

@code {

}
