<div class="player_4">
    <div class="container">
        <div class="ProfilePic">
            @* <img src=" _content/Poker.Components/images/players/man1.svg" alt="Player 1" /> *@
            <img src="_content/Poker.Components/images/examples/Players_4-P1.png" alt="Player 1" />
        </div>
        <div class="Card1">
            <img src="https://img.icons8.com/ios/2x/7-of-spades.png" alt="Card 1" width="50px" class="card" />
        </div>
        <div class="Card2">
            <img src="https://img.icons8.com/ios/2x/2-of-spades.png" alt="Card 2" width="50px" class="card" />
        </div>
        <div class="PotOdds">100%</div>
        <div class="Name">Deeb</div>
        <div class="Bet">Bet $1,300</div>
    </div>
</div>

@code {

}
