/* ----- */
/*  HUD  */
/* ----- */

.card {
    width: 30px;
}

.flag_svg {
    width: 30px;
}

.board_1 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    /*flex-wrap: nowrap;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
}

.table_1 {
    background-color: lightgray;
    border-top: 2px solid darkred;
    height: 10px;
    width: 100%;
}

/* https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
.break {
    flex-basis: 100%;
    height: 0;
}


.container {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 0.9fr 2fr;
    grid-template-rows: 0.6fr 0.2fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Player-Picture Card-1 Card-2 Pot-Odds Empty_2"
        "Player-Picture Name Name Unknown Info"
        "Flag Move Move Chips Info";
    /*align-items: center;*/
    justify-content: center;
}

.Player-Picture {
    grid-area: Player-Picture;
}

.Flag {
    grid-area: Flag;
}

.Card-1 {
    grid-area: Card-1;
}

.Card-2 {
    grid-area: Card-2;
}

.Pot-Odds {
    grid-area: Pot-Odds;
}

.Name {
    grid-area: Name;
    text-align: center;
    text-transform: uppercase;
}

.Move {
    grid-area: Move;
    text-align: center;
    text-transform: uppercase;
}

.Unknown {
    grid-area: Unknown;
    text-align: center;
    text-transform: uppercase;
}

.Chips {
    grid-area: Chips;
}

.Info {
    grid-area: Info;
    text-align: center;
    text-transform: uppercase;
    color: red;
    width: fit-content;
    margin: auto;
}

.Empty_2 {
    grid-area: Empty_2;
}

.container {
    height: 100%;
    margin: 0;
}

    /* For presentation only, no need to copy the code below */

    /*.container * {
        border: 1px solid red;
        position: relative;
    }

        .container *:after {
            content: attr(class);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
        }*/


/* ----- ----- ----- ----- */

/* https://github.com/cardmeister/cardmeister.github.io?tab=readme-ov-file#styling-card-t-with-css */

/*[rank="queen"] img {
    border: 3px solid greenyellow;
    transform: rotate(15deg);
}

img[is*="queen"] {
    border: 3px solid greenyellow;
    transform: rotate(15deg);
}

[rank="ace"] img {*/
    /*height: 20px;*/
    /*width: 20px;
}*/